* {
  box-sizing: border-box;
  
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image:linear-gradient(rgb(81, 79, 187),rgb(192, 114, 160));
  background-attachment: fixed;
}

.contenedor{
  width: 100%;
  padding: 15px;
  text-align: center;
}
.formulario{
  background: #fff;
  margin-top: 120px;
  padding: 3px;
  box-shadow: 5px 5px rgb(66, 66, 66);
}
h1{
  text-align: center;
  color: rgb(81, 79, 187);
  font-size: 20px;
  margin-top: 40px;
}
.contenedor-imagen{
  height: 22px;
  text-align: center;
  margin-top: 20px;
 
}
.contenedor-gmail{
  text-align: center;
 }

.correo{
  height: 30px;
}


input[type="text"],
input[type="password"]{
  font-size: 20px;
  width: 90.7%;
  padding: 10px;
  border: none;
  
}
.input-contenedor{
  margin-bottom: 15px;
  border: 1px solid #aaa;
}
.icon{
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10x;
}
 
.button{
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background:  rgb(81, 79, 187);
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background: cadetblue ;
}
p{
 text-align: center; 
 color: cadetblue ;
 font-size: 12px;
}
span{
  font-size: 20px; 
  color: rgb(81, 79, 187);
}
.link{
  text-decoration: none;
  color: rgb(81, 79, 187);
  font-size: 15px;
}
.link:hover{
   color: cadetblue;
}
@media(min-width:768px)
{
  .formulario{
      margin: auto;
      width: 500px;
      margin-top: 100px;
      border-radius: 3%;
  }
}